{{!< default}}

<main class="content" role="main">

    {{#foreach posts}}

    <article class="{{post_class}}">
        <header>

            <h1 class="{{#link}}link-post{{/link}} post-title ">
            <a href="{{#link}}{{theLink}}{{else}}{{url}}{{/link}}">{{#link}}→&nbsp;{{/link}}{{title}}</a>
            </h1>
            <div class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>{{#link}} <a title="Permalink" href="{{url}}">&nbsp;★</a> {{/link}}</div>
        </header>

        <section class="post-content">
        {{ content }}
        </section >


    </article>

    {{/foreach}}

    {{pagination}}

</main>
